<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<div class="row">

  <div class="span2 offset1">
    <%= gravatar_for @user %><br/>
    <a href="http://gravatar.com/emails">change</a>
  </div>


  <div class="span6 offset1">
    <form accept-charset="UTF-8" action="/UpdateProfile" method="post">
    	<%= render 'shared/error_messages' %>
    	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token.to_s%>">   

	      <label for="user_name">Name</label>
	      <input id="user_name" name="user[name]" size="30" type="text" value="<%=@user.name %>" />
	
	      <label for="user_email">Email</label>
	      <input id="user_email" name="user[email]" size="30" type="text" value="<%=@user.email %>" />
	
	      <label for="user_password">Password</label>
	      <input id="user_password" name="user[password]" size="30" type="password" />
	
	      <label for="user_password_confirmation">Confirm Password</label>
	      <input id="user_password_confirmation" name="user[password_confirmation]" size="30" type="password" />
	
	      <input class="btn btn-large btn-primary" name="commit" type="submit" value="Save changes" />
	</form>
  </div>
  
  
</div>
