<h1>
	Sign In
	<% if false %>
		<%=cookies[:email]%> :: <%=cookies[:remembrance_token] %>
	<% end %>
</h1>

<% counter = 0 %>
<div class="row">
	
	<div class="span4 offset0" style="border: 5px solid #F4F4F4; height: 410px;border-radius: 5px 5px 5px 5px;padding: 22px;">
		<section>
	      	<div>
				<label for="Sign_In_with">Sign In with</label>
			</div>
	
			<p style="padding: 0 25%;">
				<a id="facebook" href="/auth/facebook" title="My Facebook Page" class="facebookIcno"></a><br/>
				<a id="twitter" href="#link_underconstruction" title="My Twitter Page" data-toggle="modal" class="tweeterIcon"></a><br/>
				<a id="linkedin" href="#link_underconstruction" title="My LinkedIn Page" data-toggle="modal" class="linkdnIcon"></a><br/>
				<a id="google_account" href="#link_underconstruction" title="My E-Mail" data-toggle="modal" class="googleIcon"></a>
			</p>		
	    </section>
  	</div>

	<div class="span1 offset1">
		<div style="height:461px;width:0px;border:1px solid #252525;"></div>
  	</div>
  	
	
	<div class="span4 offset0" style="border: 5px solid #F4F4F4; height: 410px;border-radius: 5px 5px 5px 5px;padding: 22px;">
  		<% if cookies[:email].present? %>
  			<%=cookies[:email] %> user is already signed in. Do you want to continute. <br/> <br/>
  			<div id="buttons" style="text-align: right;">
				<a class="btn btn-success" onclick="checkAnyCookie();">
					<i class="icon-ok icon-white"></i>
					Continue
				</a>&nbsp;&nbsp;&nbsp;&nbsp;
	  			<a class="btn btn-danger" href="/RemoveCookies">
					<i class="icon-trash icon-white"></i>
					Sign Out
				</a>
			</div>
  		<hr/>
		<% end %>
		
		
		<form accept-charset="UTF-8" action="/user_sessions" method="post">
			<div>
			    <label for="session_email">Email</label>
			    <input id="session_email" name="users_sessions[email]" size="30" type="text" tabindex="<%=counter = counter+1 %>" />
			</div>
			<div>
				<label for="session_password">Password</label>
				<input id="session_password" name="users_sessions[password]" size="30" type="password"  tabindex="<%=counter = counter+1 %>" />
			</div>
			<div>
				<input name="remember_me" type="hidden" value="0" />
    			<input type="checkbox" name="remember_me" id="remember_me" value="1" tabindex="<%=counter = counter+1 %>" />
				<label for="remember_me" style="float: right; padding-right: 63%;">Remember me</label>
			</div>
			<div>
				<input class="btn btn-large btn-primary" name="commit" type="submit" value="Sign in" tabindex="<%=counter = counter+1 %>" />
  			</div>
		</form>
		<% counter = counter + 1%>
		<p>New user? <%= link_to "Sign up now!", '/SignUp', :tabindex=> counter %></p>

  	</div>
</div>	