<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "SOCIAL NETWORK", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if session[:current_user].present? %>
			<li><%= link_to "Dashboard", '/Dashboard' %></li>
          
            <li id="fat-menu" class="dropdown" onmouseover="$('.dropdown-menu').css('display','block');" onmouseout="$('.dropdown-menu').css('display','none');">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", '/Profile' %></li>
                <li><%= link_to "Settings", '/ManageProfile' %></li>
              	<li>
					<a href="/ManageProfile">
						<i class="icon-cog icon-black"></i>&nbsp;&nbsp;
						Settings
					</a>
				</li>
                
                <li class="divider"></li>
                <li>
            	  <% if session[:facebook_signout].present? %>
                	<a href="#" onclick="sign_out();">Sign out</a>
                  <% else %>
                	<li>
						<a rel="nofollow" data-method="delete" href="/SignOut">
							<i class="icon-trash icon-black"></i>&nbsp;&nbsp;
							Sign Out
						</a>
					</li>
					<% if false %>
						<%= link_to "Remove Cookies", '/RemoveCookies' %>
						<%= link_to "Sign out", '/SignOut', method: "delete" %>
					<% end %>
                  	
                  	
                  <% end %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Home", '/Index' %></li>
	        <li><%= link_to "About", '/About' %></li>
            <li><%= link_to "Sign in", '/SignIn' %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>

