<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    '/Index' %></li>
          <li><%= link_to "About",   '/About' %></li>
          <li><%= link_to "Help",    '/Help' %></li>
          <li><%= link_to "Contact", '/Contact' %></li>
          <li><%= link_to "Sign in", '/SignUp' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>