<style>
	.dashboard, .option_panel { display: none; }
	
</style>

<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "SOCIAL NETWORK", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if session[:current_user].present? %>
			

			<!-- -->
            <li id="fat-menu" class="dropdown" onmouseover="$('.dashboard').css('display','block');" onmouseout="$('.dashboard').css('display','none');">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                Dashboard <b class="caret"></b>
              </a>
              <ul class="dropdown-menu dashboard">
              	<li>
					<a href="/Dashboard">
						<i class="icon-cog icon-black"></i>&nbsp;&nbsp;
						View
					</a>
				</li>
              	<li>
					<a href="/ShowAllUsers">
						<i class="icon-cog icon-black"></i>&nbsp;&nbsp;
						Show All Users
					</a>
				</li>
              </ul>
            </li>
            <!-- -->

          
            <li id="fat-menu" class="dropdown" onmouseover="$('.option_panel').css('display','block');" onmouseout="$('.option_panel').css('display','none');">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                Home <b class="caret"></b>
              </a>
              <ul class="dropdown-menu option_panel" id="">
              	<li>
					<a href="/Profile">
						<i class="icon-user"></i>&nbsp;&nbsp;
						My Profile
					</a>
				</li>
              	<li>
					<a href="/ManageProfile">
						<i class="icon-cog icon-black"></i>&nbsp;&nbsp;
						Settings
					</a>
				</li>
                
                <li class="divider"></li>
                <li>
            	  <% if session[:facebook_signout].present? %>
                	<a href="#" onclick="sign_out();">Sign out</a>
                  <% else %>
                	<li>
						<a rel="nofollow" data-method="delete" href="/SignOut">
							<i class="icon-trash icon-black"></i>&nbsp;&nbsp;
							Sign Out
						</a>
					</li>
					<% if false %>
						<%= link_to "Remove Cookies", '/RemoveCookies' %>
						<%= link_to "Sign out", '/SignOut', method: "delete" %>
					<% end %>                  	
                  	
                  <% end %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Home", '/Index' %></li>
	        <li><%= link_to "About", '/About' %></li>
            <li><%= link_to "Sign in", '/SignIn' %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>

